<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <div class="particles">
    <div class="particle particle--1"></div>
    <div class="particle particle--2"></div>
    <div class="particle particle--3"></div>
    <div class="particle particle--4"></div>
    <div class="particle particle--5"></div>
    <div class="particle particle--6"></div>
  </div>

  {{ partial "nav.html" . }}

  <main>
    {{ block "main" . }}{{ end }}
  </main>

  {{ partial "footer.html" . }}

  <script src="/js/main.js"></script>
</body>
</html>
